n8n/workflows/invoice-email-notification.json
{
  "name": "CRM Invoice Email Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Invoice Created Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 300],
      "webhookId": "invoice-created"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.type}}",
              "value2": "invoice_created"
            }
          ]
        }
      },
      "id": "if-node",
      "name": "Is Invoice Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "to",
              "value": "9924646@gmail.com"
            },
            {
              "name": "subject",
              "value": "=📄 Новый счет №{{$json.invoice.number}} от {{$json.invoice.supplier_name}}"
            },
            {
              "name": "message",
              "value": "=Создан новый счет на сумму {{$json.invoice.total_amount}} руб."
            },
            {
              "name": "html",
              "value": "=<h2>Новый счет создан</h2><p><strong>Номер:</strong> {{$json.invoice.number}}</p><p><strong>Поставщик:</strong> {{$json.invoice.supplier_name}}</p><p><strong>Сумма:</strong> {{$json.invoice.total_amount}} руб.</p><p><strong>Дата:</strong> {{$json.invoice.date}}</p>"
            }
          ]
        },
        "options": {}
      },
      "id": "set-data-node",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [660, 200]
    },
    {
      "parameters": {
        "fromEmail": "info@stella-spb.ru",
        "toEmail": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "text": "={{$json.message}}",
        "html": "={{$json.html}}",
        "options": {}
      },
      "id": "email-node",
      "name": "Send Email via Yandex",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [860, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Yandex SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Email sent\"}",
        "options": {}
      },
      "id": "success-response-node",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1060, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"message\": \"Not an invoice event\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "skip-response-node",
      "name": "Skip Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [660, 400]
    }
  ],
  "connections": {
    "Invoice Created Webhook": {
      "main": [
        [
          {
            "node": "Is Invoice Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Invoice Created?": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Send Email via Yandex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Yandex": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "tags": []
}
