n8n/workflows/invoice-email-notifications.json
{"updatedAt":"2025-12-03T11:47:33.052Z","createdAt":"2025-11-12T10:21:43.446Z","id":"Zu369NT7iB4TQmn1","name":"CRM Invoice Email Notifications","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"invoice-created","responseMode":"responseNode","options":{}},"id":"webhook-1","name":"Invoice Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,200],"webhookId":"invoice-created"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-type","leftValue":"={{ $json.body.type }}","rightValue":"invoice_created","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-1","name":"Check Type","type":"n8n-nodes-base.if","typeVersion":2,"position":[220,200]},{"parameters":{"fromEmail":"info@stella-spb.ru","toEmail":"9924646@gmail.com","subject":"=Новый счет №{{ $json.body.number }} от {{ $json.body.supplier_name }}","emailFormat":"html","html":"=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background: #ffffff;\">\n<h2 style=\"color: #1f2937; border-bottom: 2px solid #3b82f6; padding-bottom: 10px;\">📄 Новый счет создан</h2>\n<table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n<tr style=\"background: #f3f4f6;\"><td style=\"padding: 12px; font-weight: bold; width: 40%;\">Номер счета:</td><td style=\"padding: 12px;\">{{ $json.body.number }}</td></tr>\n<tr><td style=\"padding: 12px; font-weight: bold;\">Поставщик:</td><td style=\"padding: 12px;\">{{ $json.body.supplier_name }}</td></tr>\n<tr style=\"background: #f3f4f6;\"><td style=\"padding: 12px; font-weight: bold;\">ИНН:</td><td style=\"padding: 12px;\">{{ $json.body.supplier_inn || \"не указан\" }}</td></tr>\n<tr><td style=\"padding: 12px; font-weight: bold;\">Сумма:</td><td style=\"padding: 12px; color: #2563eb; font-size: 1.3em; font-weight: bold;\">{{ $json.body.total_amount }} руб.</td></tr>\n<tr style=\"background: #f3f4f6;\"><td style=\"padding: 12px; font-weight: bold;\">Дата счета:</td><td style=\"padding: 12px;\">{{ $json.body.date }}</td></tr>\n<tr><td style=\"padding: 12px; font-weight: bold;\">Объект:</td><td style=\"padding: 12px;\">{{ $json.body.project_name || \"не привязан\" }}</td></tr>\n</table>\n<div style=\"margin: 25px 0; text-align: center;\">\n{{ $json.body.project_id ? \"<a href=\\\"https://alu.stella-spb.ru/projects/\" + $json.body.project_id + \"\\\" style=\\\"display: inline-block; background: #3b82f6; color: white; padding: 12px 30px; text-decoration: none; border-radius: 6px; font-weight: bold; margin-right: 10px;\\\">Открыть объект</a>\" : \"\" }}\n<a href=\"{{ $json.body.file_url }}\" style=\"display: inline-block; background: #10b981; color: white; padding: 12px 30px; text-decoration: none; border-radius: 6px; font-weight: bold;\">Скачать счет PDF</a>\n</div>\n<p style=\"color: #6b7280; font-size: 0.85em; margin-top: 20px; border-top: 1px solid #e5e7eb; padding-top: 15px;\">Счет создан автоматически в системе Glazing CRM<br>ID: {{ $json.body.id }}</p>\n</div>","options":{"appendAttribution":false}},"id":"email-1","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[440,100],"credentials":{"smtp":{"id":"yMoF6zh7EiZ6ClRx","name":"Yandex SMTP"}}},{"parameters":{"respondWith":"json","responseBody":"={\"success\": true, \"message\": \"Email sent\"}","options":{}},"id":"response-ok","name":"OK Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[660,100]},{"parameters":{"respondWith":"json","responseBody":"={\"success\": false, \"message\": \"Not invoice event\"}","options":{"responseCode":400}},"id":"response-skip","name":"Skip Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,300]}],"connections":{"Invoice Webhook":{"main":[[{"node":"Check Type","type":"main","index":0}]]},"Check Type":{"main":[[{"node":"Send Email","type":"main","index":0}],[{"node":"Skip Response","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"OK Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4be760f0-94a9-47e1-bd82-ddfbad0935f8","versionCounter":116,"triggerCount":1,"shared":[{"updatedAt":"2025-11-12T10:21:43.451Z","createdAt":"2025-11-12T10:21:43.451Z","role":"workflow:owner","workflowId":"Zu369NT7iB4TQmn1","projectId":"wax9RM5oidxSsCbt","project":{"updatedAt":"2025-11-12T09:40:24.594Z","createdAt":"2025-11-12T08:51:48.109Z","id":"wax9RM5oidxSsCbt","name":"Stansilav Tkachev <9924646@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-11-12T08:51:48.110Z","createdAt":"2025-11-12T08:51:48.110Z","userId":"f073b10d-4df8-423a-934e-a352f00c5976","projectId":"wax9RM5oidxSsCbt","user":{"updatedAt":"2025-12-03T10:26:20.000Z","createdAt":"2025-11-12T08:51:47.400Z","id":"f073b10d-4df8-423a-934e-a352f00c5976","email":"9924646@gmail.com","firstName":"Stansilav","lastName":"Tkachev","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-12T09:40:39.810Z","personalization_survey_n8n_version":"1.119.1","companyType":"personal","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"Zu369NT7iB4TQmn1","userActivatedAt":1762942990220,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1764324475402}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-03","isPending":false}}]}}],"tags":[]}