n8n/workflows/invoice-email-notification.json
{
  "name": "CRM Invoice Email Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Invoice Created Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 300],
      "webhookId": "invoice-created"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.type}}",
              "value2": "invoice_created"
            }
          ]
        }
      },
      "id": "if-node",
      "name": "Is Invoice Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "to",
              "value": "9924646@gmail.com"
            },
            {
              "name": "subject",
              "value": "=📄 Новый счет №{{$json.number}} от {{$json.supplier_name}}"
            },
            {
              "name": "message",
              "value": "=Создан новый счет на сумму {{$json.total_amount}} руб.\n\nНомер: {{$json.number}}\nПоставщик: {{$json.supplier_name}}\nДата: {{$json.date}}\nИНН: {{$json.supplier_inn || 'не указан'}}\n\nФайл: {{$json.file_url || 'не загружен'}}"
            },
            {
              "name": "html",
              "value": "=<h2 style='color: #1f2937;'>📄 Новый счет создан</h2><table style='border-collapse: collapse; width: 100%; max-width: 600px; margin: 20px 0; background: #f9fafb; border-radius: 8px; overflow: hidden;'><tr><td style='padding: 12px; border-bottom: 1px solid #e5e7eb; background: #ffffff;'><strong>Номер счета:</strong></td><td style='padding: 12px; border-bottom: 1px solid #e5e7eb; background: #ffffff;'>{{$json.number}}</td></tr><tr><td style='padding: 12px; border-bottom: 1px solid #e5e7eb;'><strong>Поставщик:</strong></td><td style='padding: 12px; border-bottom: 1px solid #e5e7eb;'>{{$json.supplier_name}}</td></tr><tr><td style='padding: 12px; border-bottom: 1px solid #e5e7eb; background: #ffffff;'><strong>ИНН:</strong></td><td style='padding: 12px; border-bottom: 1px solid #e5e7eb; background: #ffffff;'>{{$json.supplier_inn || 'не указан'}}</td></tr><tr><td style='padding: 12px; border-bottom: 1px solid #e5e7eb;'><strong>Сумма:</strong></td><td style='padding: 12px; border-bottom: 1px solid #e5e7eb;'><strong style='color: #2563eb; font-size: 1.3em;'>{{$json.total_amount}} руб.</strong></td></tr><tr><td style='padding: 12px; border-bottom: 1px solid #e5e7eb; background: #ffffff;'><strong>Дата:</strong></td><td style='padding: 12px; border-bottom: 1px solid #e5e7eb; background: #ffffff;'>{{$json.date}}</td></tr><tr><td style='padding: 12px;'><strong>Файл:</strong></td><td style='padding: 12px;'>{{$json.file_url || 'не загружен'}}</td></tr></table><p style='margin-top: 20px; color: #6b7280; font-size: 0.9em;'>Счет создан в системе Glazing CRM<br>ID: {{$json.id}}</p>"
            }
          ]
        },
        "options": {}
      },
      "id": "set-data-node",
      "name": "Prepare Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [660, 200]
    },
    {
      "parameters": {
        "fromEmail": "info@stella-spb.ru",
        "toEmail": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "text": "={{$json.message}}",
        "html": "={{$json.html}}",
        "options": {}
      },
      "id": "email-node",
      "name": "Send Email via Yandex",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [860, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Yandex SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Email sent\"}",
        "options": {}
      },
      "id": "success-response-node",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1060, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"message\": \"Not an invoice event\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "skip-response-node",
      "name": "Skip Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [660, 400]
    }
  ],
  "connections": {
    "Invoice Created Webhook": {
      "main": [
        [
          {
            "node": "Is Invoice Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Invoice Created?": {
      "main": [
        [
          {
            "node": "Prepare Email Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Send Email via Yandex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email via Yandex": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "tags": []
}
