n8n/workflows/telegram-notifications.json
{
  "name": "Telegram Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "telegram-webhook",
      "name": "Notification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "telegram-notify"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.type}}",
              "value2": "task_created"
            }
          ]
        }
      },
      "id": "check-event-type",
      "name": "Is Task Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const task = $input.item.json.body.task;\nconst priority = task.priority === 1 ? '🔥 Срочно' : task.priority === 2 ? '⚡ Важно' : '📋 Обычная';\nconst quadrant = task.quadrant || 'не указан';\n\nreturn {\n  json: {\n    chat_id: $input.item.json.body.telegram_id,\n    message: `🆕 *Новая задача создана*\\n\\n📝 ${task.title}\\n${priority}\\n📊 Квадрант: ${quadrant}\\n⏰ Дедлайн: ${task.deadline || 'не указан'}\\n\\n_Создана через CRM_`,\n    parse_mode: 'Markdown'\n  }\n};"
      },
      "id": "format-task-message",
      "name": "Format Task Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$json.chat_id}}",
        "text": "={{$json.message}}",
        "additionalFields": {
          "parse_mode": "={{$json.parse_mode}}"
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Notification sent\"}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"message\": \"Unknown event type\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "skip-response",
      "name": "Skip Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Notification Webhook": {
      "main": [
        [
          {
            "node": "Is Task Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Task Created?": {
      "main": [
        [
          {
            "node": "Format Task Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Task Message": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "tags": []
}
